<div class="list-group">
  <p class="list-group-item disabled">
    ประเภทสินค้า
  </p>
  <a href="/" class="list-group-item">หน้าแรก</a>
  <a href="/Products" class="list-group-item">สินค้า</a>
  <a href="/Promotion" class="list-group-item">โปรโมชั่น</a>
  <a href="/form" class="list-group-item">เพิ่มสินค้า</a>
  <p class="list-group-item disabled">
    แบรนด์
  </p>
  <a href="#" class="list-group-item">HP</a>
  <a href="#" class="list-group-item">Canon</a>
  <a href="#" class="list-group-item">BROTHER</a>
</div>