@(id:String,name:String,brane:String,ptype:String,detail:String,amount:Double,price:Double)

<html>
    <head>
    <title>jh</title>
        <link type="text/css" rel="stylesheet" href="/assets/stylesheets/bootstrap337/css/bootstrap.css">
        <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        รายการสินค้าที่เพิ่ม
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>รหัสสินค้า</th>
                                        <th>ชื่อสินค้า</th>
                                        <th>ยี่ห้อสินค้า</th>
                                        <th>ประเภทสินค้า</th>
                                        <th>รายละเอียด</th>
                                        <th>จำนวน</th>
                                        <th>ราคา</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@id</td>
                                        <td>@name</td>
                                        <td>@brane</td>
                                        <td>@ptype</td>
                                        <td>@detail</td>
                                        <td>@amount</td>
                                        <td>@price</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>fat</td>
                                        <td>jj</td>
                                        <td>gg</td>
                                        <td>gg</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                        <td>jj</td>
                                        <td>gg</td>
                                        <td>gg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            <!-- /.table-responsive -->
                    </div>
                        <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </body>
</html>