@(P1:showpro,P2:showpro,P3:showpro,P4:showpro,P5:showpro,P6:showpro)

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (1).jpg" alt="...">
            <div class="caption">
                <h5>รหัส @P1.getId @P1.getBrand @P1.getName</h5>
                <p>ราคา<strong class="price">@P1.getPrice</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (2).jpg" alt="...">
            <div class="caption">
                <h5>รหัส @P2.getId @P2.getBrand @P2.getName</h5>
                <p>ราคา<strong class="price">@P2.getPrice</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (3).jpg" alt="...">
            <div class="caption">
                <h5>รหัส @P3.getId @P3.getBrand @P3.getName</h5>
                <p>ราคา<strong class="price">@P3.getPrice</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (4).jpg" alt="...">
            <div class="caption">
                <h5>รหัส @P4.getId @P4.getBrand @P4.getName</h5>
                <p>ราคา<strong class="price">@P4.getPrice</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (12).jpg" alt="...">
            <div class="caption">
                <h5>รหัส @P5.getId @P5.getBrand @P5.getName</h5>
                <p>ราคา<strong class="price">@P5.getPrice</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (6).jpg" alt="...">
            <div class="caption">
                <h5>รหัส @P6.getId @P6.getBrand @P6.getName</h5>
                <p>ราคา<strong class="price">@P6.getPrice</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (7).jpg" alt="...">
            <div class="caption">
                <h5>PRINTER (ปริ้นเตอร์) BROTHER</h5>
                <p>ราคา<strong class="price">15,990.-</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (8).jpg" alt="...">
            <div class="caption">
                <h5>PRINTER (ปริ้นเตอร์) BROTHER MFC </h5>
                <p>ราคา<strong class="price">15,990.-</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (9).jpg" alt="...">
            <div class="caption">
                <h5>PRINTER (ปริ้นเตอร์ไร้สาย) CANON </h5>
                <p>ราคา<strong class="price">15,990.-</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (10).jpg" alt="...">
            <div class="caption">
                <h5>PRINTER (ปริ้นเตอร์) HP M102A</h5>
                <p>ราคา<strong class="price">15,990.-</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/img/h (11).jpg" alt="...">
            <div class="caption">
                <h5>PRINTER (ปริ้นเตอร์) BROTHER</h5>
                <p>ราคา<strong class="price">15,990.-</strong></p>
                <p><a href="#" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
            </div>
        </div>
    </div>
</div>