<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/">หน้าแรก</a></li>
            <li><a href="/Products ">สินค้า</a></li>
            <li><a href="/Promotion">โปรโมชั่น</a></li>
            <li><a href="#">รายการสินค้า</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Promotion</a></li>
                    <li><a href="#">Order</a></li>
                </ul>
            </li>
            <li><a href="#">วิธีชำระเงิน</a></li>
        </ul>
        </div>
    </div>
</nav>
